
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.reloj {
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#hora {
    font-size: 4em;
    color: #fff;
    text-align: center;
    margin: 0;
}

div p{
    color: #f0f0f0;
    text-align: center;
}